$black: #000000;
$gray1: #1c1c1c;
$gray2: #333333;
$gray3: #4f4f4f;
$gray4: #828282;
$gray5: #bdbdbd;
$gray6: #e0e0e0;
$white: #ffffff;

$red1: #c8102e;
$red2: #eb5757;
$red3: #c0341d;
$orange1: #f2994a;
$orange2: #eabf9a;
$yellow1: #f2c94c;
$yellow2: #fde395;
$green1: #219653;
$green2: #27ae60;
$green3: #6fcf97;
$green4: #168f48;
$blue1: #2f80ed;
$blue2: #2d9cdb;
$blue3: #56ccf2;
$purple1: #9b51e0;
$purple2: #bb6bd9;

$base-width: 1920px;
$base-height: 1080px;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

$font-emphasis: 54px;
$font-emphasis-sub: 37px;
$font-title: 24px;
$font-sub-title: 19px;
$font-menu: 16px;
$font-condition-title: 19px;
$font-condition-context: 17px;
$font-content-normal: 15px;
$font-content-small: 13px;
